body {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 450px;
    padding-top: 50px;
    margin: auto;
}

.h1 {
    font-weight: bold;
    display: flex;
    margin: 10px auto;
    padding-top: 100px;
    font-size: 30px;
}

.p {
    display: flex;
    height: auto;
    font-size: 15px
    
}

.hide {
    visibility: hidden;
}

.btn {
    display: flex;
    margin: 10px auto;
    background-color: rgb(77, 31, 119);
    color: white;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px 10px 5px 10px;
}

.btn:hover {
   background-color: blueviolet; 
}
.btn-grid {
    display: grid;
    gap: 8px;
}

.container {
    width: 600px;
    max-width: 80%;
    border: 1px solid gray;
}

.questions {
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
}
